<div class="toolbar">
  <form class="search_form" [formGroup]="formFindMovies" (submit)="onSubmit(formFindMovies.value, $event)">
    <span class="title_app">App Film</span>
    
    <label for="movie_title_input">Movie:</label>
    <input type="text" id="movie_title_input" class="input_text" formControlName="movieTitleInput">
    
    <label for="year_input">Year:</label>
    <input type="number" min="1800" id="year_input" class="input_text" formControlName="yearInput">
    
    <label for="type_input">Type:</label>
    <select id="type_input" class="input_text" formControlName="typeInput">
      <option value="">Select</option><!-- usar place holder o label -->
      <option value="series">Serie</option>
      <option value="movie">Movie</option>
      <option value="game">Game</option>
    </select>

    <!-- <input type="submit" value="Find" class="input_submit"> -->
    <button type="submit" class="input_submit">Find</button>

  </form>

</div>
