.div_head{
    height: 100%;
    /* width: 100%; */
    background-color: rgb(82, 0, 0);
    padding: 60px;
}

.div_head h2{
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 4px 0px #000000;
    margin-left: 20%;
    margin-right: 20%;
}


.div_fix{
    position: fixed;
    margin: 10px;
    display: block;
    /* background-color: rgb(82, 0, 0); */
}
.detail_film{
    /* background-color: rgb(136, 0, 0); */
    background-color: rgb(82, 0, 0);
    height: 100%;
}

/*
.titulo_detail{
    background-color: rgb(82, 0, 0);
}

.titulo_detail h2{
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 4px 0px #000000;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}
*/

@media (max-width: 768px) {
    .div_box_round{
        margin-left: 10%;
        margin-right: 10%;
        /* margin-top: 5%; */
        margin-bottom: 5%;
    }
    /*
    .div_box{
        background-color: seagreen;
    }
    */

    /* text */
    .databox h4, .rating_box h4{
        font-size: 18px;
    }

    .databox ul li{
        font-size: 18px;
    }

    .description_box p{
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .div_box_round{
        margin-left: 15%;
        margin-right: 15%;
        /* margin-top: 5%; */
        margin-bottom: 5%;
    }
    /*
    .div_box{
        background-color: steelblue;
    }
    */

    /* text */
    .databox h4, .rating_box h4{
        font-size: 1.10em;
    }

    .databox ul li{
        font-size: 1.10em;
    }

    .description_box p{
        font-size: 1.10em;
    }
}

@media (min-width: 1000px) and (max-width: 1280px) {
    .div_box_round{
        margin-left: 20%;
        margin-right: 20%;
        /* margin-top: 5%; */
        margin-bottom: 5%;
    }
    /*
    .div_box{
        background-color: springgreen;
    }
    */

    /* text */
    .databox h4, .rating_box h4{
        font-size: 1.10em;
    }

    .databox ul li{
        font-size: 1.10em;
    }

    .description_box p{
        font-size: 1.10em;
    }
}

@media (min-width: 1081px) {
    .div_box_round{
        margin-left: 20%; /* 15% */
        margin-right: 20%; /* 15% */
        /* margin-top: 5%; */
        margin-bottom: 5%;
    }
    /*
    .div_box{
        background-color: violet;
    }
    */

    .div_grid{
        height: 500px;
        width: 100% !important;
    }

    .div_grid img{
        height: 500px !important;
        /* width: 100% !important; */
    }

    .databox{
        height: 500px;
        width: 100% !important;
    }

    /* texts */
    h2{
        font-size: 2em;
    }

    .databox h4, .rating_box h4{
        font-size: 1.25em;
    }

    .databox ul li{
        font-size: 1.25em;
    }

    .description_box p{
        font-size: 1.25em;
    }

    .error_box_padding{
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

}

.div_box_round{
    border-radius: 10px !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 10px;
    box-shadow: 0px 10px 4px 0px #000000;
}

.div_grid{
    
    /* Grid layout */
    display: grid;
    gap: 0.5rem;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
}

.div_grid img {
    height: 100%;
    width: 100%;
    margin-left: 5px;
}

.databox{
     background-color: white;
     margin-left: 5px;
}

.databox h4{
    text-align: center;
}

.rating_list{
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
    /* margin-right: 10px;
    padding: 5px;*/
    border: solid red 1px;
    background-color: rgb(224, 224, 224);
    box-shadow: inset 0px 0px 20px 1px gray;
    width: 150px;
}

.rating_list p{
    text-align: center;
    font-size: 3em;
}

.description_box{
    margin-left: 10px;
}

.description_box_center{
    text-align: center;
}

.rating_box{
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px;
    border: solid red 1px;
    background-color: rgb(224, 224, 224);
    box-shadow: inset 0px 0px 20px 1px gray;
}

.rating_box h4{
    text-align: center;
}

.rating_box p{
    margin-left: 15px;
}

/* button back */
.button_details{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    /* background-color: #0067ee; */
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 9px #999; */
    /* box-shadow: 0 6px #999; */
    box-shadow: 0 4px #b10000;

}

.button_details:hover{
    /* background-color: #0051bb; */
    background-color: #ff5555;
}

.button_details:active{
    /* background-color: #01377e; */
    background-color: #ff0000;
    /* box-shadow: 0 5px #666;
    transform: translateY(4px); */
    /*box-shadow: 0 3px #666;*/
    box-shadow: 0 3px #b10000;
    transform: translateY(3px);
}

.footer_div{
    padding: 10px;
    background-color: rgb(82, 0, 0);
}

.error_box_padding{
    background-color: rgb(82, 0, 0);
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.error_box{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 4px 0px #000000;
    padding: 20px;
}

.error_background_footer{
    background-color: rgb(82, 0, 0);
    height:70vh;
    width: 100vh;
}

